* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header start */

header {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffc01f;
  max-width: 1200px;
}
.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sosial {
  display: flex;
}
img {
  padding-left: 7px;
}

nav {
  display: flex;
}
.left {
  display: flex;
}
.center > ul {
  display: flex;
}
.center > ul > li {
  list-style: none;
}
.center > ul > li > a {
  text-decoration: none;
  color: black;
}
.right {
  display: flex;
}
/* header end */

/* navbar start */
nav {
  align-items: center;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.navbar {
  margin: 10px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left > img {
  margin-right: 8px;
}
.center > ul > li {
  margin: 0 10px;
  border-radius: 10px;
  padding: 5px;
  transition: 200ms;
  &:hover {
    background-color: rgba(229, 166, 8, 0.851);
  }
}
/* navbar  end */
/* main  STart */
main {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}

.main {
  margin: 10px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-main {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  padding-bottom: 12px;
}
p {
  padding-bottom: 15px;
}
button > a {
  text-decoration: none;
  color: #353535c9;
}
button {
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 30px;
  border: 1px solid #3535354a;
  background-color: rgba(255, 255, 255, 0.105);
  transition: 200ms;
  &:hover {
    background-color: #ffc01f;
  }
}
.right-main > img {
  border: 1px solid rgba(0, 0, 0, 0.073);
  padding: 10px;
  width: 641px;
  height: 425px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.149);
}
.kateqori {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-tex {
  width: 250px;
  box-shadow: 1px 1px 8px 1px rgba(128, 128, 128, 0.414);
  border-radius: 9px;
  padding: 10px;
}
.kateqori > h2 {
  color: #596c72;

  padding: 20px 0;
  background-color: rgb(255, 255, 255);
}
.texnikalar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}
.box-tex > img {
  width: 240px;
}
.box-tex > h3 {
  text-align: center;
  color: #596c72;
}

.demo {
  width: 90%;
  display: flex;
  gap: 10;
}
.left-demo > img {
  width: 290px;
  height: 470px;
}
.top-demo > img {
  width: 600px;
  height: 390px;
}

/* main end */
